body {
    font-family: 'Kalpurush', Arial, sans-serif !important;
    /*font-family: 'AdorshoLipi', Arial, sans-serif !important;*/
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {

}

/*Navbar*/
.nav-link {
    color: white !important;
}

.active {
    color: white !important;
    background: darkblue;
    border-bottom: 2px solid darksalmon;
}

.nav-item {
    font-size: 14px;
    border-right:2px solid #e2d7d7;
}

.nav-link:hover {
    color: white !important;
    background: darkblue;
    border-bottom: 2px solid darksalmon;
}

.logOutButton {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    background-color: darksalmon;
    border-bottom: 4px solid darkblue;
}

/*Content Box*/
.contentBox {
    padding: 5px;
    margin: 5px;
    box-shadow: 2px 2px 2px gainsboro;
    border: 1px solid dodgerblue;
}

.contentBoxBody {
    padding: 5px;
}

.contentBoxInput {
    width: auto;
    margin-left: 5px;
}

.contentItem {
    padding-top: 5px;
}

.bg-number {
    background: orange;
    color: white;
}

.bg-number-label {
    background: #1a5998;
    font-weight: bold;
    color: white;
}

.custom-table-header {
    background-color: #1a5998 !important;
    color: white !important;
}

/*datatable*/

.dataTables_filter label input {
    display: block;
    flex-flow: row wrap;
    align-items: center;
    width: 80%;
    margin-left: 5px;
}

.dataTables_length label select {
    width: 80px;
}

.dataTables_filter label {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

/*bootstrap Modal for Teacher Staff info*/
.modal {
    padding: 10px !important;
/ / override inline padding-right added from js
}

.modal .modal-dialog {
    width: 100%;
    max-width: none;
    height: 100%;
    margin: 0;
}

.modal .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
}

.modal .modal-body {
    overflow-y: auto;
}

/*disabled class*/
input:disabled {
    /*font-weight: bold;*/
    color:black;
}
select:disabled {
    /*font-weight: bold;*/
    color:black;
}

/*datepicker*/
.vdp-datepicker input{
    width:100px !important;
}

/*active input or select*/

select:focus{
    background-color:skyblue !important;
    border-color: yellow !important;
}
input:focus{
    background-color:skyblue !important;
    border-color: yellow !important;
}
/*mujib borsho logo*/
.mujib_borsho{
    float:right;
    width:100px;height:80px;
    vertical-align: center;
}
/*vuejs fading animation to new row*/

/*vuejs fading animation to new row*/